Social Media Content.json
{
  "name": "Social Media Content",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Content Idea Generator",
        "formDescription": "This form will help to share the ideas, which you want to think.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What are you thinking",
              "fieldType": "textarea",
              "placeholder": "write your content idea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -432,
        -160
      ],
      "id": "c3fa6f5f-194c-4ea8-b9f8-a9bb9a6291d8",
      "name": "Content Idea Generator",
      "webhookId": "9b9e26dc-a11b-496f-8dff-3fdc1a41dffa"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ],
      "id": "d92a56b0-b5a6-4046-8df3-c127e10f7861",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BUTPWlj32MQVUpgx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Topic: {{ $json['What are you thinking'] }}\n\nBased on this topic generate perfect and  social media platform based captions. Don't use (*) star symbol  in the output. caption should be maximum 150-250 words. ",
        "attributes": {
          "attributes": [
            {
              "name": "Linkedin Caption",
              "description": "Caption for linkedin  post with proper hashtags."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -208,
        -144
      ],
      "id": "e4354763-4dbf-4b7d-a935-5f2911762cf7",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "uploadText",
        "user": "__manual_user__",
        "userManual": "rifat",
        "platform": [
          "linkedin"
        ],
        "title": "={{ $json.output['Linkedin Caption'] }}"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        112,
        48
      ],
      "id": "f61b8baf-24ee-40af-a581-56ce795fcdbb",
      "name": "linkedin",
      "credentials": {
        "uploadPostApi": {
          "id": "jy2SIkEYs5qfN4JM",
          "name": "Upload Post account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Content Idea Generator": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a6586f71-e2bc-4b25-b79d-fcc489c1cd0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "129bf563b847be340b11a6c5dd237fc04a7cd8fe13440c3275102ff7281edf52"
  },
  "id": "J88zcWutfwXWQ4HSojJXh",
  "tags": []
}